            <div class="nav js-nav" data-trigger=".js-nav-trigger" role="nav">
                <ul class="nav-list js-nav-bd">
                    <li>
                        <a href="{{ relative-link }}index.html" class="nav-list-item">Home</a>
                    </li>
                    <li>
                        <a href="{{ relative-link }}landscaping-services.html" class="nav-list-item">Landscaping</a>
                        <div class="nav-list-menu">
                            <div class="grid grid_lg">
                                <div class="grid-col grid-col_7of12">
                                    <ul class="blocks blocks_lg blocks_2up">
                                        <li>
                                            <ul class="vList">
                                                <li>
                                                    <a href="{{ relative-link }}spring-and-fall-cleanups.html" class="anchor anchor_white">Spring and Fall Cleanups</a>
                                                </li>
                                                <li>
                                                    <a href="{{ relative-link }}lawn-maintenance-services.html" class="anchor anchor_white">Lawn Maintenance Services</a>
                                                </li>
                                                <li>
                                                    <a href="{{ relative-link }}planting-services.html" class="anchor anchor_white">Planting Services</a>
                                                </li>
                                                <li>
                                                    <a href="{{ relative-link }}seeding-services.html" class="anchor anchor_white">Seeding Services</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul class="vList">
                                                <li>
                                                    <a href="{{ relative-link }}landscape-design.html" class="anchor anchor_white">Landscape Design</a>
                                                </li>
                                                <li>
                                                    <a href="{{ relative-link }}landscape-grading.html" class="anchor anchor_white">Landscape Grading</a>
                                                </li>
                                                <li>
                                                    <a href="{{ relative-link }}glen-ellyn-irrigation-systems.html" class="anchor anchor_white">Irrigation Systems</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grid-col grid-col_3of12 grid-col_push_2">
                                    <div class="ad"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="{{ relative-link }}hardscaping-services.html" class="nav-list-item">Hardscaping</a>
                        <div class="nav-list-menu">
                            <div class="grid grid_lg">
                                <div class="grid-col grid-col_7of12">
                                    <ul class="blocks blocks_lg blocks_2up">
                                        <li>
                                            <ul class="vList">
                                                <li>
                                                    <a href="{{ relative-link }}brick-patios.html" class="anchor anchor_white">Brick Patios</a>
                                                </li>
                                                <li>
                                                    <a href="{{ relative-link }}paver-stones.html" class="anchor anchor_white">Paver Stones</a>
                                                </li>
                                                <li>
                                                    <a href="{{ relative-link }}retaining-walls.html" class="anchor anchor_white">Retaining Walls</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul class="vList">
                                                <li>
                                                    <a href="{{ relative-link }}masonry-work.html" class="anchor anchor_white">Masony Repair</a>
                                                </li>
                                                <li>
                                                    <a href="{{ relative-link }}stone-work.html" class="anchor anchor_white">Stone Work</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="grid-col grid-col_3of12 grid-col_push_2">
                                    <div class="ad"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="{{ relative-link }}snow-removal.html" class="nav-list-item">Snow Removal</a>
                    </li>
                    <li>
                        <a href="{{ relative-link }}tree-services.html" class="nav-list-item">Tree Service</a>
                    </li>
                    <li>
                        <a href="#" class="nav-list-item">Contact Us</a>
                    </li>
                </ul>
            </div>