            <div class="nav" role="nav">
                <ul class="nav-list">
                    <li>
                        <a href="{{ relative-link }}index.html" class="nav-list-item">Home</a>
                    </li>
                    <li>
                        <a href="{{ relative-link }}landscaping-services.html" class="nav-list-item">Landscaping</a>
                    </li>
                    <li>
                        <a href="{{ relative-link }}hardscaping-services.html" class="nav-list-item">Hardscaping</a>
                    </li>
                    <li>
                        <a href="{{ relative-link }}snow-removal.html" class="nav-list-item">Snow Removal</a>
                    </li>
                    <li>
                        <a href="{{ relative-link }}tree-services.html" class="nav-list-item">Tree Service</a>
                    </li>
                    <li>
                        <a href="#" class="nav-list-item">Contact Us</a>
                    </li>
                </ul>
            </div>